body {
    
    background-color: #ff0099;
    text-align: center;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
   
}

h1 {
    font-family: cursive;
    color: #000000;
    

}

p {

    color: #0b1455;
}