body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:   #eddccb;
}

h1 {
    font-family: cursive;
    color: #000000;
    text-align: center;

}


p {

    color: #000000;
}

.låter a {
    text-decoration: none;
    color: #0035f5;
}
.låter a:hover {
    text-decoration: underline;
}

header {
    background: #867c6a;
    padding: 1rem 0;
    
}

.bottom-right{
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}
.textp{
    max-width: 500px;
    
}
.border {
    border: 3px solid #000000;
    padding: 5px;
    max-width: 220px;
  }


  