body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
   
}

h1 {
    font-family: cursive;
    color: #000000;
    text-align: center;

}

p {

    color: #000000;
}

.låter a {
    text-decoration: none;
    color: #0035f5;
}
.låter a:hover {
    text-decoration: underline;
}

header {
    background: #888787;
    padding: 1rem 0;
    
}

.bottom-right{
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}
.textp{
    max-width: 500px;
}